@page "/"
@using MudBlazor

<div class="div-welcome">
    <span class="heading-meta">Welcome</span>
    <MudText Typo="Typo.h3" GutterBottom="true" class="main-heading">The Teachers' Lounge</MudText>
    <MudAlert Severity="Severity.Normal">“Teachers are the only professionals who have to respond to bells every forty-five minutes and come out fighting.” – Frank McCourt</MudAlert>
</div>

<div>
    <!-- About -->
    <div class="div-background-primary">
        <span class="heading-meta">About</span>
        <MudText Typo="Typo.h4" GutterBottom="true" class="ttl-heading">Who we are</MudText>

        <div class="ttl-about">
            <p>Having been involved in the education sector for more than a decade, we've discovered the real reason why teaching is seen by many as the "Noblest profession".</p>
            <br />
            <p>In the South African context, as we are sure it is echoed in many parts of the globe, educators in general offer a huge part of their lives nurturing, preparing and fixing the academic abilities, psyche and drive for the younger generations to make successes of their post education lives. This usually comes at the price of sacrificing your family time, personal time and especially personal and professional growth, with little reward (in most instances) besides the pride and joy of being able to see their young charges entering the adult world prepared for life.</p>
            <br />
            <p>
                This platform, and the people behind it, recognises the sacrifices made by educators, which clearly corroborates the ""Noblest Profession"" notion, and would like to be part of a system that rewards you for the hours, challenges, tears and fears which you experience on a daily basis.
                A system that brings the world to your reach.
            </p>
            <br />
            <p>
                Helping you to do the things cannot do or dreams that are lost due to not enough hours in the day.<br />
                Helping you to reach goals professionally as well as in your personal capacity.<br />
                WIth the full back up and support of a network of peers globally, industry professionals in the education sector as well as most other industries.
            </p>
        </div>
    </div>

    <!-- Benefits -->
    <div class="div-background-secondary">
        <span class="heading-meta">Benefits</span>
        <MudText Typo="Typo.h4" GutterBottom="true" class="ttl-heading">Benefits</MudText>

        <div class="ttl-benefits">
            <p>Be a part of the global educator family network</p>
            <br />
            <p>A portal dedicated to enrich the professional, economical, personal and physical wellbeing of our members</p>
            <br />
            <p>Supporting and developing underprivileged schools and members with 20% of subscription revenue reinvested in our portal community</p>
            <br />
            <p>Jobs portal and CV exposure for available positions locally and internationally. All schools can advertise positions on our portal at no charge</p>
            <br />
            <p>Secure and private room for Principals only</p>
            <br />
            <p>Accredited career and learning support at your fingertips</p>
            <br />
            <p>Accredited learning resources at your disposal</p>
            <br />
            <p>Weekly reward system for high and special achievers</p>
            <br />
            <p>Online basic support for medical, legal and financial assistance</p>
            <br />
            <p>Links to professional bodies and certifications</p>
            <br />
            <p>Business club membership where we invest in programs and initiatives to generate additional income streams</p>
        </div>
    </div>

    <!-- History -->
    <div class="div-background-primary">
        <span class="heading-meta">History</span>
        <MudText Typo="Typo.h4" GutterBottom="true" class="ttl-heading">Our History</MudText>

        <div class="ttl-history">
            <p>Our company was founded in 2005 with the aim of providing high-quality products and services to our customers. Since then, we have grown to become one of the leading companies in our industry, with a reputation for excellence and innovation.</p>
            <br />
            <p>Over the years, we have expanded our product line to include a wide range of items, from basic essentials to cutting-edge technology. We are committed to staying at the forefront of our field, and we are constantly exploring new ways to improve our products and services.</p>
            <br />
            <p>
                At the heart of our success is our team of dedicated professionals. We are proud to employ some of the most talented and experienced individuals in the industry, and we are committed to providing them with the support and resources they need to succeed.
            </p>
            <br />
            <p>
                As we look to the future, we remain focused on our core values of quality, innovation, and customer satisfaction. We are excited about the opportunities that lie ahead, and we look forward to continuing to serve our customers with excellence and integrity.
            </p>
        </div>
    </div>

    <!-- Mission Statement -->
    <div class="div-background-secondary">
        <span class="heading-meta">Mission Statement</span>
        <MudText Typo="Typo.h4" GutterBottom="true" class="ttl-heading">Our Mission Statement</MudText>

        <div class="ttl-mission-statement">
            <p>Our company was founded in 2005 with the aim of providing high-quality products and services to our customers. Since then, we have grown to become one of the leading companies in our industry, with a reputation for excellence and innovation.</p>
            <br />
            <p>Over the years, we have expanded our product line to include a wide range of items, from basic essentials to cutting-edge technology. We are committed to staying at the forefront of our field, and we are constantly exploring new ways to improve our products and services.</p>
            <br />
            <p>
                At the heart of our success is our team of dedicated professionals. We are proud to employ some of the most talented and experienced individuals in the industry, and we are committed to providing them with the support and resources they need to succeed.
            </p>
            <br />
            <p>
                As we look to the future, we remain focused on our core values of quality, innovation, and customer satisfaction. We are excited about the opportunities that lie ahead, and we look forward to continuing to serve our customers with excellence and integrity.
            </p>
        </div>
    </div>
</div>

@code {

}
