@page "/counter"
@using Fluxor
@using Fluxor.Blazor.Web.Components
@using Web.States.Counter

@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher

@inherits FluxorComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount => CounterState.Value.Count;

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new IncreaseCounter());
    }
}
