@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="welcome-section">
    <div class="welcome-header">
        <h1 class="welcome-title">Welcome to the Safety App!</h1>
        <p class="welcome-subtitle">Please log in to access the application.</p>
    </div>
</div>