@using MudBlazor
@using Web.Services

@inject DeviceService deviceService

<div class="navmenu-flex-container">
    <div>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <MudText Class="bold-text">TTL App</MudText>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="pricing">
                        <span class="bi bi-pricing-nav-menu" aria-hidden="true"></span> Pricing
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="contact">
                        <span class="bi bi-contact-nav-menu" aria-hidden="true"></span> Contact
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register">
                        <span class="bi bi-register-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>

    <footer class="navmenu-footer">
        <MudDivider />
        <MudStack Spacing="1" Class="mt-2">
            <MudText Typo="Typo.caption" Class="navmenu-footer-text">
                Version 1.0.0
            </MudText>
            <MudText Typo="Typo.caption" Class="navmenu-footer-text">
                The Teachers Lounge
            </MudText>            
            <MudText Typo="Typo.caption" Class="navmenu-footer-text">
                &copy; @DateTime.Now.Year BluChilliWorks.
            </MudText>
            <MudText Typo="Typo.caption" Class="navmenu-footer-text">
                All rights reserved.
            </MudText>
        </MudStack>
    </footer>
</div>

@code {
    [Inject] IDialogService DialogService { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
